#root {
    background-color: white;
    height: 100svh ;
    width: 100svw ;
    max-height: 100svh !important;
    max-width: 100svw !important;
    padding: 1rem !important;
    margin: 0 !important;
    overflow-y: scroll;
    overflow-x: hidden;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    ul {
        .userTest {
            font-size: 16px;
            padding: 0 10px;
            background-color: black;
        }
        display: flex;
        li {
            padding: 0 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                font-size: 16px;
                color: black;
            }
        }
    }
}

button {
    border: none;
    outline: none !important;
}

.serieListe {
}

.tomeCard {
    position: relative;
    max-width: 300px;
    img{
        max-width: 100%;
    }
    .sumaryToggler {
        background-color: lightblue;
        border: solid 1px black;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        transform: translateX(50%) translateY(-50%);
    }
    
    
    .cardImgSumary {
        position: relative;
        .cardSumaryContainer {
            opacity: 0;
            &.visible {
                opacity: 1;
            }
            .tomeCardSumaryBG {
                display: block;
                position: absolute;
                background-color: black;
                opacity: 0.8;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
            }
            .tomeCardSumary {
                text-align: left;
                display: flex;
                align-items: center;
                padding: .5rem;
                text-shadow: 0px 0px 5px black;
                position: absolute;
                color: white;
                height: 100%;
                top: 0;
                left: 0;
                font-size: 16px;
                font-weight: 700;
            }
        }
        
    }
    
}
.btnExemple {
    background-color: lightblue;
    border: solid 1px black;
    color: black;
    font-size: 30px;
}
.addCollectionModaleContainner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    .modaleBg {
        background-color: rgba(0, 0, 0, 0.312);
        width: 100dvw;
    height: 100dvh;
        top: 0;
        left: 0;
        position: absolute;
    }
    .addCollectionModale {
        background-color: white;
        width: 90dvw;
        height: 90dvh;
        position: relative;
        border-radius: 10px;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
        overflow: hidden;

        .addCollectionModaleContent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            .modaleContentTop {
                height: 20dvh;
                h1 {
                    font-size: 24px;
                }
            }
            .modaleContentBot {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                height: 70dvh;
                width: 100%;
                background-color: green;
                overflow: scroll;
            }
        }
        
    }
}

.multyBtn {
    display: flex;
    justify-content: center;
    width: 100%;
    button {
        margin: 0 10px;
        position: relative;
        top: 0px;
        padding: 10px;
        height: 50px;
        width: 50px;
        border-radius: 30px;
        border: none;
        box-shadow: 0px 5px black;
        display: flex;
        justify-content: center;
        align-items: center;
        &:active  {
            box-shadow: 0px 2px black;
            top: 3px;
        }
    }

}
.popUpNotifContainner {
    position: fixed;
    top: 10px;
    right: 0;
    transform: translateX(calc(100% + 10px));
   
    &.visible {
        
        animation: showNotif 3s  ;

    }
    .popUpNotif {
        background-color: white;
        font-size: 30px;
        padding: 1rem;
        max-width: 200px;
        color: black;
        border-radius: 10px;
        box-shadow: 0 1px 10px black;
    }
}



// @keyframes showNotif {
//     0% {
//       transform: translateX(100%);
//     }
//     70% {
//       transform: translateX(-10%);
//     }
//     100% {
//         transform: translateX(0%);
//     }

//   }
// @keyframes hideNotif {
//     0% {
//         transform: translateX(0%);
//     }
//     70% {
//         transform: translateX(-10%);
//     }
//     100% {
//         transform: translateX(100%);
//     }
//   }
.modale {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    .modaleBg {
        background-color: rgba(0, 0, 0, 0.75);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .modaleContent {
        position: relative;
        width: 90%;
        height: 90%;
        z-index: 1;
        padding: 1rem;
        background-color: white;
        .modaleCloseBtn {
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(50%) translateY(-50%);
            border: solid 1px black;
            background-color: red;
            border-radius: 10px;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
        }
        form {
            display: flex;
            flex-direction: column;
            label {
                color: black;
                font-size: 16px;
                font-weight: 700;;
            }
            input {
                background-color: white;
                border-radius: 10px;
                color: black;
                font-size: 16px;
                padding: .5rem;
            }
            .forSubmitBtn {
                margin-top: 1rem;
            }
        }
       
    }
}
@keyframes showNotif {
    0% {
      transform: translateX(100%);
    }
    20% {
      transform: translateX(-10%);
    }
    30% {
        transform: translateX(calc(0% + 10px));
    }
    70% {
        transform: translateX(calc(0% + 10px));
    }
    90% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(100%);
    }
  }